{% extends 'base.html' %}
{% load i18n %}
{% block "title" %}{% trans "Start" %}{% endblock %}

{% block "content" %}
<h1>{% trans "Autoservice status:" %}</h1>
<ul>
    <li><strong>{% trans "Services:" %}</strong> {{ num_services }}</li>
    <li><strong>{% trans "Completed tasks:" %}</strong> {{ num_orders_done }}</li>
    <li><strong>{% trans "Registered cars:" %}</strong> {{ num_cars }}</li>
  </ul>
<p>{% trans "You have visited this site" %} {{ num_visits }} {% trans "times." %}</p>
{% endblock %}